@import "reset.scss";

:root {
    --font-family: "Roboto", sans-serif;
    --primary: #54e584;
    --secondary: #379b55;
    --accent: #e5546d;
    --lightgray: #ddd;
    --text-regular: #444;
}

body {
    font-family: var(--font-family);
    color: var(--text-regular);
}

.container {
    max-width: 1200px;
    display: block;
    margin: auto;
    padding: 1.25rem;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-content-between {
    justify-content: space-between;
}

.flex-align-items-center {
    align-items: center;
}

.flex-fill {
    flex: 1 1 auto;
}

.flex-50 {
    flex: 1 1 50%;
}

// utils

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.pr-10 {
    padding-right: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.mb-10 {
    margin: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

//theme
.list-primary {
    li {
        padding: 0.625rem 0.9375rem;
        border: 1px solid var(--lightgray);
        // border-top: 0;
        border-radius: 5px;
        &:hover {
            background-color: var(--primary);
            color: white;
            cursor: pointer;
        }
        transition: 0.4s;
        // &:first-child {
        //     border-top: 1px solid var(--lightgray);
        //     border-radius: 10px 10px 0 0;
        // }
        // &:last-child {
        //     border-radius: 0 0 10px 10px;
        // }
    }
}

.btn {
    padding: 0.625rem 0.9375rem;
    background-color: white;
    border: 0;
    border-radius: 0.1875rem;
    font-weight: 700;
    &-primary {
        background-color: var(--primary);
        color: white;
    }
    &:hover {
        background-color: var(--secondary);
        cursor: pointer;
    }
    transition: 0.4s;
}

//debug

.d1 {
    border: 1px solid red;
}

.d2 {
    border: 1px solid green;
}
