<!-- <li> : Cet élément de liste affiche le fruit. La valeur de fruitDuComposantEnfant est insérée dans le HTML grâce à l'interpolation de données {{ fruitDuComposantEnfant }}.
(click) : Lorsque l'utilisateur clique sur cet élément, la méthode sendToParentComp() est appelée. Cette méthode enverra un signal au composant parent pour indiquer que ce fruit doit être supprimé. -->
<li class="d-flex flex-align-items-center flex-justify-content-between">
    <span>{{ fruitDuComposantEnfant }}</span>
    <button (click)="sendToParentComp()" class="btn btn-primary">
        Supprimer
    </button>
</li>
