<!-- La directive V-MODEL dans le code ci-dessus est utilisée pour lier un élément de formulaire à une propriété dans l'instance de Vue.js. Dans ce cas précis, elle est utilisée avec un champ d'entrée de type nombre (<input type="number">) pour permettre à l'utilisateur de saisir la quantité d'un produit. Voici une explication plus détaillée :

    Utilisation de v-model :
        La directive v-model est utilisée avec l'attribut v-model="product.quantity". Cela signifie que la valeur du champ d'entrée est liée à la propriété quantity de l'objet réactif product. En d'autres termes, lorsque l'utilisateur saisit une valeur dans le champ d'entrée, la propriété quantity de l'objet product est automatiquement mise à jour pour refléter cette valeur, et vice versa. C'est ce qu'on appelle le "two-way data binding" ou "liaison de données bidirectionnelle".

    Avantages de v-model :
        L'utilisation de v-model simplifie la gestion des données des formulaires dans Vue.js en évitant la nécessité de gérer manuellement les événements de saisie et de mise à jour des données.
        Elle permet également de maintenir la synchronisation entre l'état de l'interface utilisateur et les données de l'application de manière automatique.

    Type de champ d'entrée :
        Dans ce cas, la directive v-model est utilisée avec un champ d'entrée de type nombre (<input type="number">). Cela indique que le champ d'entrée n'acceptera que des valeurs numériques.

En résumé, la directive v-model dans ce contexte permet de lier un champ d'entrée de type nombre à une propriété réactive dans Vue.js, facilitant ainsi la gestion des données de formulaire et assurant la synchronisation entre l'interface utilisateur et l'état de l'application. -->

<template>
    <!-- Champ d'entrée pour la quantité du produit -->
    <input type="number" name="" id="" v-model="product.quantity" />

    <!-- Affichage du prix total hors taxe -->
    <h2>Prix total HT: {{ totalPriceHT }}</h2>

    <!-- Affichage du prix total toutes taxes comprises -->
    <h2>Prix total TTC: {{ totalPriceTTC }}</h2>
</template>

<!-- Dans la section <script setup lang="ts">, nous utilisons le script setup de Vue.js qui est une nouvelle façon concise d'écrire les composants en Vue.js. -->
<script setup lang="ts">
import { computed, reactive } from "vue"; // Importe la fonction 'computed' et 'reactive' depuis la bibliothèque Vue.js

const product = reactive({
    // Crée un objet réactif 'product' contenant les détails du produit
    name: "book",
    quantity: 3, // Quantité par défaut du produit
    priceHt: 11, // Prix hors taxe du produit
});

// Calcule le prix total hors taxe en utilisant une propriété calculée
let totalPriceHT = computed(() => product.priceHt * product.quantity);

// Calcule le prix total toutes taxes comprises en utilisant une propriété calculée
let totalPriceTTC = computed(() => product.priceHt * product.quantity * 1.2);
</script>

<style></style>
