<!-- La div principale prend toute la hauteur de la fenêtre avec un espace en haut -->
<div style="height: 100vh; padding-top: 150px" class="container">
    <!-- Flex container pour aligner l'input et le bouton en ligne -->
    <div class="d-flex flex-row">
        <!-- Champ d'entrée référencé par '#myinput' -->
        <!-- Cette référence sera passée comme argument à la méthode 'addFruit' au clic du bouton -->
        <input #myinput type="text" class="m-10 flex-fill" />

        <!-- Bouton qui déclenche la méthode 'addFruit()' avec 'myinput' en argument -->
        <!-- Lorsque le bouton est cliqué, le contenu de 'myinput' est ajouté à la liste 'fruitsTab' -->
        <button class="btn btn-primary m-10" (click)="addFruit()">
            Ajouter
        </button>
    </div>

    <!-- Liste non ordonnée pour afficher les fruits ajoutés -->
    <!-- ngFor parcourt chaque élément de 'fruitsTab' et crée une instance du composant <app-fruit> -->
    <ul class="list-primary m-10">
        <!-- [fruitDuComposantEnfant]="oneFruit" :
    Liaison de propriété, où oneFruit est transmis en tant que valeur de la propriété fruitDuComposantEnfant du composant enfant <app-fruit>. Cela permet au composant enfant de recevoir les données du fruit. -->
        <!-- *ngFor="let oneFruit of fruitsTab" :
    Directive ngFor qui permet de répéter un élément pour chaque fruit présent dans le tableau fruitsTab. Chaque oneFruit est passé en tant que propriété au composant enfant <app-fruit>. -->
        <app-fruit
            [fruitDuComposantEnfant]="oneFruit"
            *ngFor="let oneFruit of fruitsTab"
            (deleteFruitComposantEnfant)="deleteFruit($event)"
        ></app-fruit>
    </ul>
</div>
